@{
    ViewBag.Title = "NuevaConsulta";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nueva Consulta</title>
</head>

<body>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Nueva Consulta</h1>
        <br />
        <p>..O Puede buscar directamente desde la Barra de Búsqueda</p>
        <div class="row mb-3">
            <form class="col" id="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border border-primary p-4" id="searchText" placeholder="Profesor, Materia, Depto..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" id="searchButton">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mb-3">
            <div class="col" id="searchByMatContent">
                <h4>Buscar por Materia</h4>
                <button id="searchByMatButton">Buscar</button>
                <!-- Lista de Departamentos -->
                <!-- Luego de Materias de ese Depto -->
                <!-- Luego HorariosConsulta agrupados por Profesor (más de un DayWeek) -->
                <!-- Luego una Partial View para Inscripción con Detalles y DropDown HCFechados -->
            </div>
            <div class="col" id="searchByProfContent">
                <h4>Buscar por Profesor</h4>
                <button id="searchByProfButton">Buscar</button>
                <!-- Lista de Profesores (Alfabéticamente) con su Barra de Búsqueda -->
                <!-- Luego HorariosConsulta agrupados por Materia (más de un DayWeek) -->
                <!-- Luego una Partial View para Inscripción con Detalles y DropDown HCFechados -->
            </div>
        </div>
    </div>
</body>

</html>
