@{
    ViewBag.Title = "Dashboard";
}

    <div class="jumbotron">
        <h1>Consultas</h1>
        <p class="lead">Dashboard</p>
        <p><a href="https://github.com/utn-frro-net-2019-g12/Proyecto-Final" class="btn btn-primary btn-lg">Github Repo &raquo;</a></p>
        <hr />
        <p>Tu email es: @ViewBag.EmailAddress</p>
        <hr />
        <p>Tu access token es:</p>
        <p style="font-size: 0.6rem">@ViewBag.AccessToken</p>
        <hr />
        <div class="row align-items-center">
            <p class="m-0">Alejandro Recalde </p>
            <a href="https://github.com/alereca" class="btn btn-dark m-2"><i class="fab fa-github"></i></a>
        </div>
        <div class="row align-items-center">
            <p class="m-0">Nicolás Antonelli</p>
            <a href="https://github.com/NicoAntonelli" class="btn btn-dark m-2"><i class="fab fa-github"></i></a>
        </div>
        <div class="row align-items-center">
            <p class="m-0">Vittorio Retrivi</p>
            <a href="https://github.com/motiontx" class="btn btn-dark m-2"><i class="fab fa-github"></i></a>
        </div>
        <hr />
        <p>En construcción...</p>
        <hr />
    </div>



            