@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Consultas</h1>
    <p class="lead">Dashboard</p>
    <p><a href="https://github.com/utn-frro-net-2019-g12/Proyecto-Final" class="btn btn-primary btn-lg">Github Repo &raquo;</a></p>
    <p>
        En construcción...
    </p>
</div>
