@model WebPresentationMVC.Models.MvcDepartamentoModel

@{
    ViewBag.Title = "_Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h5 class="modal-title">Editar a @Html.DisplayFor(model => model.Name)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-sm-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Departamento", @class = "form-control form-control-user" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger m-0" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
}