@{
    ViewBag.Title = "ConsultaUTN - About Us";
}

<h2>@ViewBag.Title.</h2>
<!--<h3>[At]ViewBag.Message</h3>-->

<br />
<p>
    Somos una organización surgida a partir de estudiantes que deseaban resolver problemas internos que suceden en las Universidades
    por la falta de sistemas para lograr algún objetivo, o uso de sistemas de poca calidad que suelen entorpecer aún más el percance.
</p>
<br />
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, dolore accusantium quam et fuga expedita autem totam neque earum
    officia facere dicta beatae sed modi maxime aut commodi adipisci, veritatis accusamus assumenda voluptatum? Animi, facere quod
    molestiae odit commodi error reiciendis voluptas modi. Quidem, et. Ut aut omnis molestias debitis praesentium maxime expedita
    consequuntur et a commodi totam harum inventore, ex, neque illum, dolores laudantium voluptates repellat asperiores optio dolore
    architecto nesciunt velit magni? Delectus autem recusandae facere quia, nisi ea aut. Odit dolor nihil facere, deleniti, magni
    voluptas suscipit voluptatibus amet quia atque commodi accusantium ullam ducimus repellat. Veritatis.
</p>
