@{
    ViewBag.Title = "ConsultaUTN - Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>[At]ViewBag.Message</h3>-->

<br />
<h4>¿Dónde Localizarnos?</h4>
<address>
    UTN - Facultad Regional Rosario<br />
    Argentina, Rosario, Zeballos 1341<br /><br />
    <abbr title="Phone 1">Tel 1</abbr>: <b>448 0102</b>
    <br />
    <abbr title="Phone 2">Tel 2</abbr>: <b>448 2424</b>
</address>
<hr />

<h4>Nuestras Redes</h4>
<address>
    <div class="align-items-center">
        <p class="m-0">Alejandro Recalde </p>
        <a href="https://github.com/alereca" class="btn btn-dark m-2"><i class="fab fa-github"></i></a>
    </div>
    <br />
    <div class="align-items-center">
        <p class="m-0">Nicolás Antonelli</p>
        <a href="https://github.com/NicoAntonelli" class="btn btn-dark m-2"><i class="fab fa-github"></i></a>
    </div>
    <br />
    <div class="align-items-center">
        <p class="m-0">Vittorio Retrivi</p>
        <a href="https://github.com/motiontx" class="btn btn-dark m-2"><i class="fab fa-github"></i></a>
    </div>
</address>
<hr />

<h4>Correos</h4>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@ConsultaUTN.com">Support@ConsultaUTN.com (Correo de Ejemplo)</a>
    <br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ConsultaUTN.com">Marketing@ConsultaUTN.com (Correo de Ejemplo)</a>
</address>
