
@{
    ViewBag.Title = "Inscripciones Recibidas";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nueva Consulta</title>
</head>

<body>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Inscripciones Recibidas</h1>
        <br />
        <div class="row mb-3">
            <!-- Lista de Inscripciones Recibidas y Activas a mis HCF -->
            <!-- Si no hay ninguna, este contenido debe ser un texto informando que aún no hay ninguna inscripción a un HCF -->
            <!-- Funcionalidades: posponer HCF, cancelar HCF, escribir observación, ver inscripciones alumnos -->
        </div>
</body>

</html>
