
@{
    ViewBag.Title = "Mis Horarios de Consulta";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nueva Consulta</title>
</head>

<body>
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Mis Horarios de Consulta</h1>
        <br />
        <div class="row mb-3">
            <!-- Lista de Mis Horarios de Consulta actuales, con Acciones -->
            <!-- Si no hay ninguno, este contenido debe ser un texto informando que aún no hay ningún HC activo -->
            <!-- Funcionalidades: crear HC, editar HC, remover HC -->
        </div>
</body>

</html>
